/* color palette */
.my_bg_color{
    background-color: #1ABC9C;
}

.my_second_color{
    background-color: #2C3E50;
}

.my_third_color{
    background-color: #3A546D;
}

button.my_bg_color:hover{
    background-color: #19a589;
}
/* end color palette */

.my_avatar{
    width: 225px;
}

textarea{
    height: 150px;
}

/* footer socials and links */
.my_social{
    width: 45px;
    height: 45px;
}

.my_link{
    color: #1ABC9C;
}
/* end footer socials and links */