/* .test *{
    background-color: pink;
    border: 1px dashed gray;
    min-height: 100px;
    test
} */

.my_navbar{
    flex-grow: 0;
}

.my_bg_color{
    background-color: #1ABC9C;
}

.my_avatar{
    width: 225px;
}

.fa-star{
    font-size: 30px;
}

.my_ft_color{
    background-color: #3A546D;
    color: white;
}

.my_ft_secondary{
    background-color: #2C3E50;
}